PORT=:3001
DB_URL=postgres://example:example@localhost:5432/example_db?sslmode=disable

ACCESS_SECRET=super_secret_string
REFRESH_SECRET=super_secret_string

KAFKA_URL=localhost:9092

JAEGER_ENDPOINT=localhost:4318