KAFKA_HOST=localhost:9092

SMTP_SERVICE=example
SMTP_HOST=example.ru
SMTP_PORT=587
SMTP_USER=example@example.com
SMTP_PASSWORD=super_secret

DB_URL=postgres://example:example@localhost:5432/example_db?sslmode=disable